@define-color bg	    #232A2E;
@define-color fg	    #D3C6AA;
@define-color critical-fg	#E67E80;
@define-color critical-bg	#E67E80;
@define-color success-bg   #3C4841;
@define-color success-fg   #A7C080;
@define-color cpu       #3A515D;
@define-color memory    #514045;
@define-color menu      #1793D1; /* Arch logo color */

* {
	border: none;
	border-radius: 0px;
	font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", "sans-serif";
	font-weight: bold;
	font-size: 12px; min-height: 0;
	padding: 0;
	margin: 0;
	background: @bg;
	color: @fg;
}

tooltip {
	background: @bg;
}

tooltip label {
	padding: 0.5em;
}

#cpu, #memory, #network, #pulseaudio, #custom-notification, #tray, #disk {
    margin: 0.25em;
    padding: 0.5em;
}

#cpu {
    background: @cpu;
}

#memory {
    background: @memory;
}

#pulseaudio {
    background: #45433C;
}

#disk {
    background: #4F5B58;
}

#custom-notification {
    background: #495156;
}

#workspaces {
	margin: 0.5em 0 0 0.75em;
}

#workspaces button label {
	padding: 0.5em;
	margin: 0 0.25em 0.5em 0.25em;
}

#workspaces button.empty {
	opacity: 0.5
}

#workspaces button.active label {
	background: @fg;
	color: @bg;
	transition: all 0.3s ease-in-out;
}

#workspaces button.urgent, #network.disabled, #network.disconnected {
	background: @critical-bg;
	color: @critical-fg;
}

#network.linked, #network.ethernet, #network.wifi {
	background: @success-bg;
	color: @success-fg;
}

#custom-menu {
	padding: 0.25em 0 0.25em 0.75em;
	font-size: 1.5em;
    color: @menu;
}

#custom-notification {
	font-size: 1.25em;
}

#tray {
	font-size: 1em;
	margin: 0 0.5em 0 0;
}

#tray menu menuitem {
	padding: 0.5em;
}
