@define-color bg            #232A2E;
@define-color accent        #3D484D;
@define-color fg            #D3C6AA;
@define-color critical      #543A48;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo"
}

popover {
  background: lighter(@bg);
  border: 1px solid darker(@accent);
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @bg;
  padding: 20px;
  border: 1px solid darker(@accent);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @fg;
}

.box {
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: lighter(lighter(lighter(@bg)));
}

.input {
  caret-color: @fg;
  background: lighter(@bg);
  padding: 10px;
  color: @fg;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @fg;
}

child {
}

.item-box {
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent, 0.25);
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box,
row:selected .item-box {
  background: alpha(@accent, 0.25);
}

.item-text-box {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@accent, 0.25);
  /* padding: 10px; */
  color: @fg;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid lighter(@bg);
  font-size: 12px;
  color: @fg;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border: 1px solid @fg;
}

.critical {
  padding: 10px;
  background: @critical;
  color: @fg;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages {
  font-family: JetBrains Mono Nerd;
}

